/*----------------------------------------------
Miscellaneous
------------------------------------------------*/

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
h2 {
    margin-top: 0;
    color: #263238;
}

/*----------------------------------------------
Page Content Wrapper
------------------------------------------------*/

#page-content-wrapper {
    position: absolute;
    padding: 20px 0px;
    margin-top: 50px;
    width: 100%;
    padding-bottom: 50px;
}

/*----------------------------------------------
Page Title Navigation
------------------------------------------------*/
#nav-title {
	top: 51px;
	height: 83px;
	border-bottom: 1px solid #eee;
	background: #fff;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 90;
}

/*----------------------------------------------
Text Styles
------------------------------------------------*/

.description {
    font-size: 12px;
    padding: 1px 0 2px 0;
    color: #999;
    display: block;
    text-decoration: none;
}
hr {
    margin: 0;
}

/*----------------------------------------------
Buttons/Input
------------------------------------------------*/
.tab-font {
    font-size: 12px;
}

